body {
  padding: 10px;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.navbar-container {
  background: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: cursive;
}

#login-dropdown-list {
  position: absolute;
  top: 10px;
  left: -200px;
}
